@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Amatic+SC&family=Annie+Use+Your+Telescope&family=Bad+Script&family=Dosis:wght@400;800&family=Indie+Flower&family=Playfair+Display:wght@800&family=Poiret+One&family=Qwitcher+Grypen&family=Roboto:wght@900&family=Tangerine&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Amatic+SC&family=Annie+Use+Your+Telescope&family=Bad+Script&family=Dosis:wght@400;800&family=Indie+Flower&family=Playfair+Display:wght@800&family=Poiret+One&family=Qwitcher+Grypen&family=Roboto:wght@900&family=Tangerine&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Amatic+SC&family=Annie+Use+Your+Telescope&family=Bad+Script&family=Dosis:wght@400;800&family=Indie+Flower&family=Libre+Baskerville:ital@1&family=Playfair+Display:wght@800&family=Poiret+One&family=Qwitcher+Grypen&family=Roboto:wght@100;900&family=Tangerine&family=Yeseva+One&display=swap');

* {
    padding:0;
    margin:0;  
    font-family: sans-serif; 
}
/* MENU ---------------------------------------------------------------*/
.menu-bar {
    background: rgb(41, 40, 46);;
    text-align: right;
}
.fixed-alignment {
    display: inline-flex;    
    list-style: none;
}
.button {
    width:fit-content;
    margin:15px;
    padding: 5px;
}
.menu-bar ul li a {
    text-decoration: none;
    color:white;
}
/*---------------------------------------------------------------------*/
.main {
    text-align: center;
    padding-top: 250px;
}
.main ul li a {
    text-decoration: none;
    color:white;
    background-color: rgb(194, 103, 80);
    border-radius: 10px;
    padding: 20px;
}
/*-----------------------------------------------------------------*/
.titulo {
    font-family: "Libre Baskerville";
    font-size: 60px;
    letter-spacing: 3px;
    color: aliceblue;
    padding: 25px;
}
.Montserrat {
    font-family: "Montserrat";
    font-size: 20px;
    color:aliceblue;
}
.background {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://images.pexels.com/photos/1477166/pexels-photo-1477166.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;

}
/* ------------------------------------------------------------------------*/
.text-box {
    background-color:rgb(41, 40, 46);
    margin: 75px;
    margin-right: 0px;
    padding: 50px;
    color:whitesmoke;
    width: 50%;
    
}
.picture-box {
    background-color:rgb(41, 40, 46);
    background-image: url(https://lh3.googleusercontent.com/A2RNKoBmC3vxg-99dRvXBx6Ygks4Tz4IvA9dgVTIXaxJ8Jk8Nz5K_vKqKgvFOmha_B3sAkAyV-zZvDk11WTGjwMzEJ2ZyoImp_4UW-NYHgc_RBHNOFUWAVHwAsIBEV-Xonq2yMTHa8E=w2400);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 75px;
    margin-left: 0px;
    padding: 50px;
    color:whitesmoke;
    width: 50%;
    height: 460px;
}









.smaller-image {
    width: 300px;
    border-radius: 10%;
}

.aboutme-box {
    background-color:rgb(41, 40, 46);
    margin: 100px 150px 50px 150px;
    padding: 25px 50px 50px 50px;
    color:whitesmoke;
}

.experience-box {
    background-color:rgb(41, 40, 46);
    width:unset;
    padding: 5px 75px 50px 75px;
    color:rgb(220, 219, 235);
}

.experience-box2 {
    background-color: whitesmoke;
    margin: 150px;
    padding: 50px 50px 50px 50px;
}

.image-margins {
    padding: 50px 50px 50px 50px;
}

/* FOOT ----------------------------------------------------------------------------------*/
.foot {
    background-color: rgb(41, 40, 46);
    padding: 10px 50px;
    color: whitesmoke;
}

