<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>About me</title>
</head>

<body>
<div class="background">
    <div class="menu-bar">
        <ul class="fixed-button-properties">
        <li class="button"><a href="homepage.html">Home</a></li>
        <li class="button"><a href="aboutme.html">About me</a></li>
        <li class="button"><a href="skills.html">Service and skills</a></li>
        <li class="button"><a href="contact.html">Contact</a></li>
        </ul>
    </div>

    <div class=aboutme-box>
    <h1 class=titulo>About me</h1>
    <h2>Let me introduce myself</h2>
    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
    Quae, dignissimos id fuga magnam accusantium voluptates commodi recusandae, quibusdam modi 
    quasi ea culpa quo impedit voluptatibus blanditiis velit quam molestias asperiores.</p>
    <br>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem error 
        voluptatem soluta quibusdam. Nemo, quae consectetur debitis, possimus omnis 
        quibusdam porro dolorum deleniti at labore illum accusantium eaque ipsum maiores.</p>
    <br>
    <img class="smaller-image" src="https://lh3.googleusercontent.com/Qk0BcnDLJ_Y_zaFuL-4qLUZb9zE6h1C2TjEjpM0SGSRFEy32BJbRLW0_OCILS2puWFUiyhni-dvFCHa4B7JyIn2Z1-WIz5oq__jqFq2d1boXR4KczdJowO186Pqemr7odLKGHzPv-aA=w2400" alt="foto de Vale">
    </div>

    <div class = "foot">
        <p>© 2022 Valeria Benitez. </p>
    </div>
</div>
</body>
</html>