<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>About me</title>
</head>

<body>
<div class="background-img">
    <div class="menu-bar">
        <ul class="fixed-alignment">
        <li class="button"><a href="../index.html">Home</a></li>
        <li class="button"><a href="./aboutme.html">About me</a></li>
        <li class="button"><a href="./skills.html">Service and skills</a></li>
        <li class="button"><a href="./contact.html">Contact</a></li>
        </ul>
    </div>

<div class="background-box">
    <div class="quote">
        <p class="quote-font">"The future belongs to those 
        <br>who believe in the beauty of their dreams"</p>
        <br><br><p>-Eleanor Roosevelt</p>
    </div>

    <div class="fixed-alignment">  
        <div class="text-box">
            <h2>Hey! I'm Vale!</h2>
            <br>
            <br>
            <p> I'm a hard-working future engineer with a passion for creativity.
            <br>
            <br>
            Currently, I’m studying my third-year Business Engineering major at ESEN. My education is 
            preparing me for a fruitful career, helping me improve my analytical and problem-solving skills. 
            I'm great at connecting with colleagues and co-workers. I'm also looking forward to work with initiative 
            and a growth mindset. 
            <br>
            <br>
            I really love what I do and what I'm trying to accomplish: be helpful to others while growing personally and professionally.
            I'm open to explore and learn about different interests. Honestly, HTML and CSS is kind of new for me, but 
            I'm falling for it.     
            <br>
            <br>
            When I'm not studying, you'll find me painting, leaving all my lungs and energy on a basketball court or watching 
            Friends TV Show.
            </p>
        </div>
        <div class=picture-box></div>
    </div>
</div>

    <div class = "foot">
        <p>© 2022 Valeria Benitez. </p>
    </div>
</div>
</body>
</html>