<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://use.fontawesome.com/cdade53fb5.js"></script>
    <title>ContactMe</title>
</head>
<body>
<div class="background-img2"> 
</div> 
<div class="background-color">
    <div class="menu-bar">
        <ul class="fixed-alignment">
        <li class="button"><a href="index.html">Home</a></li>
        <li class="button"><a href="aboutme.html">About me</a></li>
        <li class="button"><a href="skills.html">Service and skills</a></li>
        <li class="button"><a href="contact.html">Contact</a></li>
        </ul>
    </div>

    <div class="contact-background-box">
        <div class="contact">
            <div class="subtitulo-contactme">
                <p><b>Contact me </b> | Valeria Lizbeth Benítez Samayoa</p><br>
            </div>
            <div class="container">
                <div class="contactInfo">
                    <div class="box">
                        <div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                        <div><a class="text" href="mailto: valeria.benitezs@outlook.com">valeria.benitezs@outlook.com</a></div>
                    </div> 

                    <div class="box">
                        <div class="icon"><i class="fa fa-github" aria-hidden="true"></i></div>
                        <div><a class="text" href="https://github.com/valeria-ben">Github</a></div>
                    </div>

                    <div class="box">
                        <div class="icon"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                        <div><a class="text" href="https://www.linkedin.com/in/valeria-ben%C3%ADtez-samayoa/">LinkedIn</a></div>
                    </div>
                </div>              
            </div>           
        </div>
    </div>

<div class = "foot">
    <p>© 2022 Valeria Benitez. </p>
</div>

</body>
</html>