<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>ContactMe</title>
</head>
<body>
<div class="background">
    <div class="menu-bar">
        <ul class="fixed-button-properties">
        <li class="button"><a href="homepage.html">Home</a></li>
        <li class="button"><a href="aboutme.html">About me</a></li>
        <li class="button"><a href="skills.html">Service and skills</a></li>
        <li class="button"><a href="contact.html">Contact</a></li>
        </ul>
    </div>
    <div class="experience-box2">
        <p>Contact me</p>
        <p>Valeria Lizbeth Benítez Samayoa</p>
        <h1>contact me</h1>
        <form action="" method="post">
        </form>
    </div>
    <div class = "foot">
        <p>© 2022 Valeria Benitez. </p>
    </div>
</div>
</body>
</html>