<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://use.fontawesome.com/cdade53fb5.js"></script>
    <title>Contact Me</title>
</head>
<body>
    
    <section class="contact">
        <div class="content">
            <h2>Contact me</h2><br>
            <p>Valeria Lizbeth Benitez Samayoa</p><br>
        </div>
        <div class="container">
            <div class="contactInfo">
                <div class="box">
                    <div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                    <div class="text">
                        <b>Email</b>
                        <p>20200711@esen.edu.sv</p>
                        <p>valeria.benitezs@outlook.com</p><br>
                    </div>
                </div>
                <div class="box">
                    <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                    <div class="text">
                        <b>Phone number</b><br>
                        <p>(+503) 7423-3699</p><br>
                    </div>
                </div>  
                <div class="box">
                    <div class="icon"><i class="fa fa-github" aria-hidden="true"></i></div>
                    <div class="text">
                        <p>Github</p><br>
                    </div>
                </div>
                <div class="box">
                    <div class="icon"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                    <div class="text">
                        <p>Linkedin</p>
                    </div>
                </div>
            </div>              
        </div>

    </section>
    
</body>
</html>