<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./pages/style.css">
    <title>Home page</title>
</head>

<body>
<div class=arreglar-centrado>
    <div class="Montserrat">
        <p>Hello there, welcome!</p>
        <h1 class=titulo>I'm Valeria Benitez</h1> 
        <a  href="pages/aboutme.html" target="_blank">About me &nbsp;&nbsp;</a>
        <a href="pages/skills.html" target="_blank">Service and skills &nbsp;&nbsp;</a>
        <a href="pages/contact.html" target="_blank">Contact</a>
    </div>
</div>   


</body>
</html>

<!DOCTYPE html>


