<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Service and skills</title>
</head>

<body>
<div class="background-img2"> 
</div>   
    <div class="background-color">
        
    <div class="menu-bar">
        <ul class="fixed-alignment">
        <li class="button"><a href="index.html">Home</a></li>
        <li class="button"><a href="aboutme.html">About me</a></li>
        <li class="button"><a href="skills.html">Service and skills</a></li>
        <li class="button"><a href="contact.html">Contact</a></li>
        </ul>
    </div>

<div class="background-box">

    <div class="work-text">
        <p class="portafolio-text">Portfolio</p>
        <b class="subtitulo">My best works</b>
    </div>     
    
    <div class="work-img">
        <div class="work-img-padding">
            <a href="infografia.html"> 
                <img class="document" src="/images/infografia.jpg">
            </a>
            <a href="lenguaje.html">
                <img class="document" src="/images/lenguaje.jpg">
            </a>
            <a href="bizagi.html">
                <img class="document" src="/images/bizagi.jpg">
            </a>
            <a href="laboratorios.html">
                <img class="document" src="/images/laboratorios.jpg">
            </a>
        </div>
    </div>

    <div class="top-box">
        <p  class="quote-font2">Do or do not. There is no try. - Yoda</p>
    </div>    

    <div class="text-box">
        <div class="esen-padding">
        <img class="esen-img" src="https://lh3.googleusercontent.com/NTTGz9Wltz4Lrdc1yJRqMQIT2xxoKZxc4bT1Ut8m8pnxFFmD3odKjtRou307AHmx_s2w2tbkOzKeeayFOhi4NW3LED1TR1WSR23172MWV_7gtABlsBFdKLG8Fo-rxsl5W6eUaX5EgA=w2400" alt="esen imagen">
        </div>
    </div>

    <div class="text-box">
        <h2>Recommendations</h2><br><br>
        <div class="Recomendaciones">
            <li><b>María Tenorio | Catedrática</b></li><br>
            <p>Valeria Benítez fue mi estudiante en Lenguaje III durante su primer año en la ESEN, el 2020. Destacó en la materia por su dedicación, compromiso y responsabilidad. Como trabajo final escribió, junto a un par de compañeros, el ensayo "La realidad educativa avistada ante el coronavirus", en el cual demostró sus habilidades para la investigación y la redacción. Su escritura evidencia madurez y profesionalismo.</p><br>
        </div>
        <div class="Recomendaciones">
            <li><b>José María Velásquez | Catedrático</b></li><br>
            <p>Valeria se ha mostrado como una estudiante integral, manteniendo un alto desempeño en cada una de las materias cursadas con mi persona. Ha mostrado que posee gran capacidad de análisis y síntesis que la ha ubicado en el tercio superior en cada una de las materias que he tenido la oportunidad de impartirle. Además, no se ha visto afectada por la transición al pasar del bachillerato a la universidad ni al pasar del primer al segundo año universitario, sumado a la coyuntura de la virtualidad debido a la pandemia por COVID 19.</p><br>
            <a class="reco-chema" href="recomendacion-jose-maria.html">Resultados y percentiles</a><br><br>
        </div>
        <div class="Recomendaciones">
            <li><b>Elías Ventura | Catedrático</b></li><br>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. A fugiat commodi voluptate, suscipit non est possimus pariatur provident, blanditiis illo dolorum laudantium, veniam fuga nihil et? Totam quibusdam dolorem eum.</p><br>
        </div>
    </div>

</div>
    
<div class = "foot">
    <p>© 2022 Valeria Benitez. </p>
</div>

</body>
</html>