<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style2.css">
    <title>test</title>
</head>
<body>
<div class="main">
    <p class=""Montserrat>Hello there, welcome!</p>
    <h1 class="titulo">I'm Valeria Benitez</h1>
    <div >     
        <ul>
        <li><a href="aboutme.html">About me</a></li>
        <li><a href="skills.html">Service and skills</a></li>
        <li><a href="contact.html">Contact</a></li>
        </ul>
    </div>
</div>
</body>
</html>