<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style2.css">
    <title>Service and skills</title>
</head>

<body>
<div class="background-img">    
    <div class="menu-bar">
        <ul class="fixed-alignment">
        <li class="button"><a href="homepage.html">Home</a></li>
        <li class="button"><a href="aboutme.html">About me</a></li>
        <li class="button"><a href="skills.html">Service and skills</a></li>
        <li class="button"><a href="contact.html">Contact</a></li>
        </ul>
    </div>

<div class="background-box">
    <div class="top-box">
        <h1 class=titulo >My experience</h1>

        <h2>i dont know what to put here, ill figure it out</h2>

        <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        Quae, dignissimos id fuga magnam accusantium voluptates commodi recusandae, quibusdam modi 
        quasi ea culpa quo impedit voluptatibus blanditiis velit quam molestias asperiores.</p>
        <br>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem error 
        voluptatem soluta quibusdam. Nemo, quae consectetur debitis, possimus omnis 
        quibusdam porro dolorum deleniti at labore illum accusantium eaque ipsum maiores.</p>
    </div>    

    <div class="text-box">
        <h2>otro titulo para poner</h2>

        <p>poner recomendaciones de maestros o trabajos ke se yo</p>

        <div class="image-padding">
        <img class="esen-img" src="https://lh3.googleusercontent.com/NTTGz9Wltz4Lrdc1yJRqMQIT2xxoKZxc4bT1Ut8m8pnxFFmD3odKjtRou307AHmx_s2w2tbkOzKeeayFOhi4NW3LED1TR1WSR23172MWV_7gtABlsBFdKLG8Fo-rxsl5W6eUaX5EgA=w2400" alt="esen imagen">
        </div>
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nemo autem recusandae omnis ut eveniet similique non obcaecati, quasi animi tempore cum eum iure ullam ipsa magnam exercitationem fuga repellat? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius veritatis totam nostrum repellendus expedita ullam accusantium minima laborum blanditiis cumque quibusdam, hic mollitia, maxime voluptatibus amet minus! Autem, numquam molestias.</p><br><br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nemo autem recusandae omnis ut eveniet similique non obcaecati, quasi animi tempore cum eum iure ullam ipsa magnam exercitationem fuga repellat? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius veritatis totam nostrum repellendus expedita ullam accusantium minima laborum blanditiis cumque quibusdam, hic mollitia, maxime voluptatibus amet minus! Autem, numquam molestias.</p><br><br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nemo autem recusandae omnis ut eveniet similique non obcaecati, quasi animi tempore cum eum iure ullam ipsa magnam exercitationem fuga repellat? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius veritatis totam nostrum repellendus expedita ullam accusantium minima laborum blanditiis cumque quibusdam, hic mollitia, maxime voluptatibus amet minus! Autem, numquam molestias.</p><br><br>
        
        <div class="image-padding">
            <div class="image">
                <img class="document-work-img" src="/images/infografia.jpg" alt="infografia">
                <div class="img-overlay">
                    <div class="img-title">Momentos estelares de la ciencia</div>
                </div>
<!--
                <img class="document-work-img" src="/images/lenguaje.jpg">
                <div class="img-overlay"> 
                    <div class="img-title">Ensayo de lenguaje</div>
                </div>
                    
                <img class="document-work-img" src="/images/bizagi.jpg">
                <div class="img-overlay">
                    <div class="img-title">Bizagi</div>
                </div>

                <img class="document-work-img" src="/images/laboratorios.jpg">
                <div class="img-overlay"> 
                    <div class="img-title">Laboratorios</div>
                </div>
        -->
            </div>
        </div>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nemo autem recusandae omnis ut eveniet similique non obcaecati, quasi animi tempore cum eum iure ullam ipsa magnam exercitationem fuga repellat? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius veritatis totam nostrum repellendus expedita ullam accusantium minima laborum blanditiis cumque quibusdam, hic mollitia, maxime voluptatibus amet minus! Autem, numquam molestias.</p><br><br>
            
        </div>
    </div>


    <div class = "foot">
        <p>© 2022 Valeria Benitez. </p>
    </div>
</div>
</body>
</html>